@model FlightReservationsApplication.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstClassCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomyClassCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aircraft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aircraft.AircraftID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline.AirlineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureAirport.AirportID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirport.AirportID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlightID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
